*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey-700: #D8D8D8;
    --blue-100: #E5EAF1;
    --blue-50: #F6FAFF;
    --gradient: linear-gradient(180deg, var(--black) 0%, var(--black) 60%);

    --space-0: 0;
    --space-100: calc(8 / 16 * 1rem);
    --space-200: calc(16 / 16 * 1rem);
    --space-250: calc(20 / 16 * 1rem);
    --space-300: calc(24 / 16 * 1rem);
    --space-400: calc(32 / 16 * 1rem);
    --space-500: calc(40 / 16 * 1rem);
    --space-600: calc(48 / 16 * 1rem);
    --space-700: calc(56 / 16 * 1rem);
    --space-800: calc(64 / 16 * 1rem);
    --space-900: calc(72 / 16 * 1rem);
    --space-1000: calc(80 / 16 * 1rem);

    --font: 'Josefin Sans', sans-serif;

    --font-xxs: calc(14 / 16 * 1rem);
    --font-xs: calc(15 / 16 * 1rem);
    --font-sm: calc(16 / 16 * 1rem);
    --font-md: calc(24 / 16 * 1rem);
    --font-lg: calc(32 / 16 * 1rem);
    --font-xl: calc(40 / 16 * 1rem);
    --font-xxl: calc(48 / 16 * 1rem);
    --font-xxxl: calc(72 / 16 * 1rem);

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;

    --letter-spacing-narrow: calc(5 / 16 * 1rem);
    --line-height-tall: 1.65;
}

body {
    font-family: var(--font);
    background: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    overflow-x: hidden;
}

.text-1 {
    font-family: var(--font);
    font-size: var(--font-xxxl);
    font-weight: var(--font-light);
}

.text-2 {
    font-family: var(--font);
    font-size: var(--font-xxl);
    font-weight: var(--font-light);
}

.text-3 {
    font-family: var(--font);
    font-size: var(--font-xl);
    font-weight: var(--font-light);
    line-height: 1;
}

.text-4 {
    font-family: var(--font);
    font-size: var(--font-lg);
    font-weight: var(--font-light);
}

.text-5 {
    font-family: var(--font);
    font-size: var(--font-md);
    font-weight: var(--font-light);
}

.text-6 {
    font-family: var(--font);
    font-size: var(--font-sm);
    font-weight: var(--font-regular);
    line-height: var(--line-height-tall);
}

.text-7 {
    font-family: var(--font);
    font-size: var(--font-xxs);
    font-weight: var(--font-regular);
    letter-spacing: var(--letter-spacing-narrow);
}

.site-header {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    margin-block-start: var(--space-500);
    margin-inline: var(--space-300);
}

.site-header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-300);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.site-header__logo {
    margin-right: auto;
}

.site-header__menu-buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
}

.site-header__menu-button {
    background: transparent;
    border: none;
    align-self: flex-start;
    cursor: pointer;
}

.site-header__menu-button img {
    min-width: var(--space-300);
    min-height: var(--space-250);
}

.site-header__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
    text-transform: uppercase;
    text-decoration: none;
    grid-column: 1 / -1;
    justify-self: center;
}

.site-header__link {
    color: var(--white);
    text-decoration: none;
}

main {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 0;
}

.hero {
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: clamp(400px, 650px, 80vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title-container {
    padding: var(--space-200) var(--space-300);
    border: 1px solid var(--white);
    width: min-content;
}

.hero__title {
    color: var(--white);
    text-transform: uppercase;
}


.site-header__nav[data-menuopen="false"] .site-header__links,
.site-header__nav[data-menuopen="false"] .site-header__menu-buttons .site-header__menu-button--close {
    display: none;
}

.site-header__nav[data-menuopen="true"] {
    background-color: var(--black);
    width: 100vw;
    height: 100vh;   
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: var(--space-500) var(--space-300);
}

.site-header__nav[data-menuopen="true"] .site-header__links {
    align-self: center;
    justify-self: flex-start;
}

.site-header__nav[data-menuopen="true"] .site-header__menu-buttons  .site-header__menu-button--open {
    display: none;
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: var(--space-600);
    padding: var(--space-800) var(--space-200);
}

.about::before {
    content: "";
    display: block;
    max-width: 100%;
    height: auto;
    aspect-ratio: 2 / 1.4;
    background-color: var(--blue-100);
    background: url('./images/mobile/image-interactive.jpg') no-repeat;
    background-size: cover;
    background-position: left center;

}

.about__article {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
}

.about__title {
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
}

.about__text {
    color: var(--black);
    text-align: center;
}

.creations {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--space-600);
    padding: var(--space-800) var(--space-200);
    justify-items: center;
}

.creations__button {
    border: 1px solid var(--black);
    background: transparent;
    text-transform: uppercase;
    padding: var(--space-100) var(--space-300);
    cursor: pointer;
    width: fit-content;
    order: 3;
}


.creations__button:hover {
    outline: 2px solid var(--black);
    outline-offset: 2px;
}

.creations__container {
    justify-self: stretch;
}

.creations__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 120px);
    gap: var(--space-300);
}

.creations__item {
    width: 100%;
    /* height: calc(120 / 16 * 1rem); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creations__item--deep-earth {
    background-image: url('./images/mobile/image-deep-earth.jpg');
}

.creations__item--night-arcade {
    background-image: url('./images/mobile/image-night-arcade.jpg');
}

.creations__item--soccer-team {
    background-image: url('./images/mobile/image-soccer-team.jpg');
}

.creations__item--the-grid {
    background-image: url('./images/mobile/image-grid.jpg');
}

.creations__item--from-up-above {
    background-image: url('./images/mobile/image-from-above.jpg');
}

.creations__item--pocket-borealis {
    background-image: url('./images/mobile/image-pocket-borealis.jpg');
}

.creations__item--the-curiosity {
    background-image: url('./images/mobile/image-curiosity.jpg');
}

.creations__item--make-it-fisheye {
    background-image: url('./images/mobile/image-fisheye.jpg');
}


.creations__name {
    color: var(--white);
    text-transform: uppercase;
    width: min-content;
    margin-inline-start: var(--space-100);
}

.creations__item--soccer-team .creations__name,
.creations__item--from-up-above .creations__name {
    max-width: 8rem;
    width: max-content;
}

.site-footer {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--space-500);
    justify-items: center;
    padding: var(--space-800) var(--space-200);
}

.site-footer__nav {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.site-footer__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
}

.site-footer__link {
    color: var(--white);
    text-decoration: none;
}

.site-footer__social-links {
    display: flex;
    flex-direction: row;
    gap: var(--space-300);
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

.site-footer__copyright {
    color: var(--white);
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.site-footer__copyright-text {
    color: var(--white);
}

@media (min-width: 48rem) {

    .text-1-md {
        font-family: var(--font);
        font-size: var(--font-xxxl);
        font-weight: var(--font-light);
    }

    .text-2-md {
        font-family: var(--font);
        font-size: var(--font-xxl);
        font-weight: var(--font-light);
    }

    .site-header {
        margin-block-start: var(--space-500);
        margin-inline: var(--space-1000);
    }

    .hero__title-container {
        /* padding: var(--space-200) var(--space-300); */
        border: 1px solid var(--white);
        width: fit-content;
        max-width: 608px;
    }

    .site-header__nav[data-menuopen="true"] {
        padding-inline: var(--space-1000);
    }

    .hero {
        background-image: url('./images/desktop/image-hero.jpg');
    }

    .about {
        padding: var(--space-800) var(--space-1000);
    }

    .about::before {
        max-height: 100%;
        width: auto;
        background: url('./images/desktop/image-interactive.jpg') no-repeat center center/ cover;
        aspect-ratio: 3 / 1.8;
    }

    .about__article {
        gap: var(--space-300);
    }

    .creations {
        padding: var(--space-800) var(--space-1000);
    }

    .creations__item {
        background-position: center;
    }

    .creations__item--soccer-team {
        background-position: top;
    }

    .creations__name {
        margin-inline-start: var(--space-300);
    }

    .site-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: flex-start;
        gap: var(--space-300);
        padding: var(--space-800) var(--space-600);
    }

    .site-footer__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .site-footer__nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .site-footer__links {
        flex-direction: row;
        gap: var(--space-200);
    }

    .site-footer__social-links {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: flex-end;
    }

    .site-footer__copyright {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: flex-end;
        opacity: 0.5;
    }
}

@media (min-width: 64rem) {

    .text-4-lg {
        font-family: var(--font);
        font-size: var(--font-lg);
        font-weight: var(--font-light);
    }

    .text-6-lg {
        font-family: var(--font);
        font-size: var(--font-xs);
        font-weight: var(--font-light);
        line-height: var(--line-height-tall);
    }

    .site-header__nav {
        display: grid;
        background: transparent;
    }

    .site-header__menu-button--hidden {
        display: none;
    }

    .site-header__nav[data-menuopen="true"] {
        width: auto;
        height: auto;
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        background: transparent;
        padding: 0;
    }

    .site-header__nav[data-menuopen="false"] .site-header__links, 
    .site-header__links {
        display: flex;
        flex-direction: row;
        gap: var(--space-400);
        text-transform: capitalize;
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        /* justify-self: flex-end; */
    }

    .site-header__nav[data-menuopen="true"] .site-header__links {
        align-self: center;
        justify-self: flex-start;
    }

    .hero {
        align-items: flex-start;
    }

    .hero__title-container {
        margin-block-start: var(--space-500);
        margin-inline: var(--space-1000);
    }

    .about {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .about::before {
        max-width: 80%;
        height: auto;
        background: url('./images/desktop/image-interactive.jpg') no-repeat left center/ cover;
        aspect-ratio: 2 / 1.5;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .about__article {
        width: 33rem;
        aspect-ratio: 2 / 1;
        align-self: center;
        padding: var(--space-1000) 0 0 var(--space-1000);
        background-color: var(--white);
        grid-column: 2 / 4;
        grid-row: 1 / -1;
        align-self: flex-end;
        justify-self: flex-end;
        z-index: 5;
    }

    .about__title, .about__text {
        text-align: left;
    }

    .creations__item--soccer-team .creations__name,
    .creations__item--from-up-above .creations__name {
        width: max-content;
        max-width: 12rem;
    }

    .creations {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .creations__title {
        grid-column: 1 / 3;
        justify-self: flex-start;
    }

    .creations__button {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        justify-self: end;
    }

    .creations__container {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }

    .creations__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 400px);
        align-items: stretch;
        justify-items: stretch;
    }

    .creations__item--deep-earth {
        background-image: url('./images/desktop/image-deep-earth.jpg');
    }

    .creations__item--night-arcade {
        background-image: url('./images/desktop/image-night-arcade.jpg');
    }

    .creations__item--soccer-team {
        background-image: url('./images/desktop/image-soccer-team.jpg');
    }

    .creations__item--the-grid {
        background-image: url('./images/desktop/image-grid.jpg');
    }

    .creations__item--from-up-above {
        background-image: url('./images/desktop/image-from-above.jpg');
    }

    .creations__item--pocket-borealis {
        background-image: url('./images/desktop/image-pocket-borealis.jpg');
    }

    .creations__item--the-curiosity {
        background-image: url('./images/desktop/image-curiosity.jpg');
    }

    .creations__item--make-it-fisheye {
        background-image: url('./images/desktop/image-fisheye.jpg');
    }
}

@media (min-width: 80rem) {
    .about::before {
        max-width: 100%;
        height: auto;
        background: url('./images/desktop/image-interactive.jpg') no-repeat top left/ contain;
        aspect-ratio: 2 / 0.8;
    }

    .about__article {
        width: 36rem;
        aspect-ratio: 2 / 1;
        padding: var(--space-1000) 0 0 var(--space-1000);
        align-self: flex-end;
        justify-self: center;
    }
}